.status-wrapper {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.status-inactive {
  background-color: gray;
}

.status-active {
  background-color: yellow;
}

.status-capturing {
  background-color: green;
}

.status-misfire {
  background-color: red;
}

#text-status {
  display: inline-block;
  font-weight: bold;
  min-width: 150px;
}